.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    align-items: center;
}

.logo {
    width: 100px;
}

.nav-container ul {
    display: flex;

}

li {
    list-style: none;
    padding: 0px 20px;
    font-size: large;
}

.search {
    padding: 10px;
    margin: 10px;
}

.res-container {
    display: flex;
    flex-wrap: wrap;
}

.res-card {
    width: 200px;
    /* height: 400px; */
    margin: 10px;
    padding: 5px;
}

.res-card:hover {
    border: 1px solid black;
    cursor: pointer;
}

.res-img {
    width: 100%;
}

.filter-btn {
    margin: 10px;
    cursor: pointer;
}
